.parent{
 -fx-background-color: #FFFFFF;
 -fx-background-radius: 30px;
}
.sidebar{
 -fx-background-color: #FFFFFF;
 -fx-background-radius: 30px 30px 0px 0px;
}

.pane{
 -fx-background-color: #FFFFFF;
 -fx-border-color: #C1C1C1;
 -fx-background-radius: 0px 0px 30px 30px ;
 -fx-border-radius: 0px 0px 30px 30px ;
}
.colored_card{
 -fx-background-color: linear-gradient(to right, #1A3384, #2B49B3);
 -fx-background-radius: 10px;
 
}
.uncolored_card{
 -fx-background-color: linear-gradient(to right, #6DD5FA, #2980B9);
 -fx-background-radius: 10px;

}
.third_card{
 -fx-background-color: linear-gradient(to right, #A8E063, #56AB2F);
 -fx-background-radius: 10px;

}
.transparent-pane {
    -fx-background-color: transparent; /* Make the pane transparent */
    -fx-border-color: black;          /* Border color */
    -fx-border-width: 1px;           /* Thin border */
    -fx-border-radius: 5px;           /* Optional: Rounded corners */
}
.circle {
    -fx-fill: transparent; /* Makes the fill transparent */
    -fx-stroke: gray; /* Sets the border color to gray */
    -fx-stroke-width: 1px; /* Sets the border thickness to 1 pixel */
}
.chart-bar{
 -fx-background-color: transparent;
}
.data0.chart-bar{
 -fx-background-color: #2b49b3;
 -fx-width: 15px;
 -fx-background_radius: 3px 3px 0px 0px;
}
.data1.char-bar{
-fx-background-color: #2b49b3;
 -fx-width: 15px;
 -fx-background_radius: 3px 3px 0px 0px;
}
.data2.chart-bar{
 -fx-background-color: #2b49b3;
 -fx-width: 15px;
 -fx-background_radius: 3px 3px 0px 0px;
}
.data3.char-bar{
-fx-background-color: #2b49b3;
 -fx-width: 15px;
 -fx-background_radius: 3px 3px 0px 0px;
}
.data4.chart-bar{
 -fx-background-color: #2b49b3;
 -fx-width: 15px;
 -fx-background_radius: 3px 3px 0px 0px;
}
.transparent-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.button {
    -fx-background-color: transparent; /* Make the button transparent */
    -fx-border-color: transparent;    /* Remove the border */
    -fx-cursor: hand;                 /* Change cursor to hand on hover */
    -fx-padding: 0;                   /* Remove all padding */
}

.button .graphic {
    -fx-padding: 0;
    -fx-fill: #c1c1c1;/* Remove padding around the graphic */
}
.button .graphic:hover {
    -fx-padding: 0;
    -fx-fill: #2e3fb4;/* Remove padding around the graphic */
}